[2014-11-26 12:15] HCSarise opened #1 "I crashed it already! NullPointerException"
Report: http://pastebin.com/6xwiEsPW

[2014-11-26 13:04] #1 closed, assigned to nobody

[2014-11-26 15:53] bochen415 opened #2 "[Suggestion] Fix naming inconsistency between Curse and git"
As title
NotEnoughResources vs NEIResources
I was thinking they are two separate mods..

[2014-11-26 16:50] #2 closed, assigned to nobody

[2014-11-26 21:16] Peach774 opened #3 "Add GregTech OreGen options"
As the title says

[2014-11-26 23:45] BBoldt opened #4 "Insane lag when looking at dungeon chests"
Now I have quite a lot of mods, so that is probably causing it, but when I look at recipes for things that come in dungeon chests, FPS goes down to like 1-2.

![](http://i.imgur.com/8FkcCPA.jpg)

Using 0.1.0.10

[2014-11-27 03:24] #4 closed, assigned to nobody

[2014-11-27 07:48] BBoldt opened #6 "Add Galacticraft oregen options"
Another one of the "low priority" things.

I just wanted to suggest you look into supporting Galacticraft's oregen system at some point.

[2014-11-27 11:14] Lanse505 opened #7 "Add Metallurgy Ore Support"
Low Prio, Enhancement

[2014-11-27 11:15] Lanse505 opened #8 "Add Thaumcraft Ore Support"
Low Priority
Enhancement

[2014-11-27 11:24] Lanse505 opened #9 "Botania, Thaumcraft, Witchery Mob Drop Support"
Low Prio
Enhancement

[2014-11-27 11:32] Lanse505 opened #10 "COFH, Natura,TiCo, Twilight Forest Mob Drops"
Low Prio
Enhancement

[2014-11-27 11:34] Lanse505 opened #11 "Big Reactors, Galaticraft, IC2, Magical Crops(Ore Gen and Plant drops), Forestry(Ores+Hive Drops), Pneumaticraft(Seeds), etc"
ProjectRed and Bluepower Oregen, TiCo OreGen

Low Prio
Enhancement

[2014-11-27 11:53] #7 closed, assigned to nobody

[2014-11-27 11:53] #8 closed, assigned to nobody

[2014-11-27 11:53] #9 closed, assigned to nobody

[2014-11-27 11:53] #10 closed, assigned to nobody

[2014-11-27 11:53] #11 closed, assigned to nobody

[2014-11-27 12:15] Lanse505 opened #12 "Metallurgy working properly on my instance :("
Bug: Metallurgy ores doesn't want to work with NEI-Resources on my Instance.

I'm running on my client:
NEI-Resources - V. NotEnoughResources-1.7.10-0.1.0.13
and Metallurgy 4 - V. METALLURGY-1.7.10-4.0.6.80
and, NEI - V. NOTENOUGHITEMS-1.7.10-1.0.3.66-UNIVERSAL

[2014-11-27 12:52] #12 closed, assigned to nobody

[2014-11-27 13:19] Lanse505 opened #13 "Boots back to Main Menu when joining a SSP world."
Bug: Whenever i join a new or old SSP now when i've updated to .17 it instantly kicks me back to the main menu o.o

Forge Log:
http://paste.atlauncher.com/view/892b2fa1

[2014-11-27 13:56] #13 closed, assigned to nobody

[2014-11-28 20:46] chrisk123999 opened #14 "Crash on World Create"
http://pastebin.com/RDTAsCYz

Getting this issue when creating a single player world after this mod is added.  Tried with the latest version from CurseForge and from the Jenkins.  Happens with both of them.  Doesn't really crash the game, just prevents the game from making it past the create world screen.

[2014-11-28 22:22] #14 closed, assigned to nobody

[2014-11-29 00:29] Staegrin opened #15 "creating a new world or play selected world both go back to title screen"
Have this problem with version 0.1.0.35 and 0.1.0.40. With these versions of the mod I try to create a new world or play a selected world that was created previously and both immediately go back to title screen. No error messages/crash log

NEI was blamed in a crashlog from earlier (before updating to newer notenoughresources) with modlist: http://pastebin.com/wSVxj2UY

[2014-12-01 03:39] #15 closed, assigned to nobody

[2014-12-02 22:41] Lanse505 opened #17 "Laser Drills Showing Fire as Laser Focus"
I'm using NER 1.0.56 and when i'm looking at certain ores this shows up under the MFR laser tab.

https://www.dropbox.com/s/rrj4t4ixwc26yao/Sk%C3%A4rmklipp%202014-12-02%2023.39.56.png?dl=0

[2014-12-03 00:32] hilburn opened #18 "Taintacles still not working"
Fix it @way2muchnoise :P

![image](https://cloud.githubusercontent.com/assets/8307858/5273768/8dc401a0-7a83-11e4-9e6f-683b3126aa05.png)

[2014-12-03 12:18] #17 closed, assigned to nobody

[2014-12-03 21:33] Claycorp opened #19 "Nullpointer when clicking furnace recipe with coal."
http://pastebin.com/qc3YbR1Q
Opened a furnace and mistakenly clicked the recipe with the coal and then crashed.

SMP
NEI 1.0.3.68
NER 0.1.0.55

[2014-12-03 22:25] #19 closed, assigned to nobody

[2014-12-05 20:59] Lanse505 opened #20 "Some Modded ore support suggestions :)"
Hello again :)

I've been testing NER-66 with the newest Dev branch of RR3 and these are some of the mods i've noticed some mods are not supported as of yet (understandable), so i'm gonna leave a suggestion list here.

IndustrialCraft 2: Copper, Tin, Lead, Uranium
Mekanism: Copper, Tin, Osmium
Biome's O' Plenty: All its Gems (might wanna implement biome support for these)
ProjectRed: Peridot, Sapp

[2014-12-09 13:46] #18 closed, assigned to way2muchnoise

[2014-12-16 18:36] drakray opened #21 "CTD while looking at Tin"
http://pastebin.com/w6CksNWZ

[2014-12-17 15:32] #21 closed, assigned to nobody

[2014-12-17 20:39] iarspider opened #22 "Weird problem with NER"
After a few mod updates I can no longer start a SSP world. The game doesn't crash (which is weird), just reports that "The state engine was in incorrect state ERRORED and forced into state SERVER_STOPPED. Errors may have been discarded." If I remove the mod, it doesn't crash.

Full log here: https://gist.github.com/iarspider/b290ba98204c3352790d (if that helps).

[2014-12-18 10:28] quienti opened #23 "Crash with last Forestry"
http://pastebin.com/C79c5YRh

Forestry{3.3.0.341-unstable} [Forestry for Minecraft](Forestry.jar)
neresources{0.1.0.76} [Not Enough Resources](NotEnoughResources.jar)

[2014-12-18 12:55] #23 closed, assigned to nobody

[2014-12-23 15:47] Lanse505 opened #24 "Hello!"
I got Sent here by the mod dev of Ancient Warfare 2 after i have looked up this crash.

http://pastebin.com/hPwq5kR7

This is the original post:
https://github.com/shadowmage45/AncientWarfare2/issues/191

[2014-12-24 00:10] #24 closed, assigned to nobody

[2014-12-25 21:08] Lanse505 opened #27 "Make NotEnoughResources read from server side Oregen Configs when playing on a server."
For whatever reason NER is only pulling Oregen information and not the server, meaning that NER will provide false information to players if their worldgen is different from the worldgen available on the server their playing on. This wouldnt be that hard of a fix i think, just make it check if NER is present on the server then make NER pull its information from the Server Configs instead of the Cl

[2015-01-03 21:07] Nincodedo opened #28 "Crash while trying to enter Spectre Dimension from Random Things"
http://pastebin.com/Fpcgp9d6

[2015-01-03 21:35] way2muchnoise commented on #28
@Nincodedo Try the [latest build from Jenkins](http://jenkins.jakimfett.com/job/NotEnoughResources/)

[2015-01-03 21:55] Nincodedo commented on #28
That seems to have fixed it, thank you!

[2015-01-03 21:55] #28 closed

[2015-01-11 13:39] xJon opened #29 "Weird crash with latest version."
http://pastebin.com/K2thkeq0
Thank you.

[2015-01-11 14:15] hilburn commented on #29
@way2muchnoise - your thing broke again!
We'll look into it - trying to get a new release ready over the next week or so

[2015-01-11 14:36] The-1-7-10-Pack commented on #29
Awesome, thanks :)

[2015-01-18 02:11] Nincodedo opened #30 "Crash while trying to enter Twilight Forest"
Crashed with build 83 and 84.

http://pastebin.com/U79HivQ5

[2015-01-24 19:43] xJon commented on #29
I guess I can close this one if you applied a fix for it.
Can't wait for the next stable release.

[2015-01-24 19:43] #29 closed

[2015-01-25 17:10] #30 closed

[2015-01-28 07:20] BBoldt opened #32 "Everything shows up as enchantable in your "Enchantments" NEI handler"
Using latest version at the time of this posting.

NotEnoughResources-1.7.10-0.1.0.86

![](http://i.imgur.com/cQr772c.png)
![](http://i.imgur.com/Pbo4T3R.png)
![](http://i.imgur.com/8pyZzAF.png)

It usually shows up as either "Soulbound" or "Flim Flam"

[2015-01-28 10:08] way2muchnoise commented on #32
@BBoldt Well that means everything can be souldbound or flimflammed

[2015-01-28 10:50] BBoldt commented on #32
@way2muchnoise

Actually, you're right.
It just seemed weird to me, and a bit annoying seeing it for every single thing in the game.

[2015-01-28 11:22] way2muchnoise commented on #32
@BBoldt I'll see if I can add something to disable certain enchantments

[2015-01-30 19:30] Syer10 opened #33 "Crash with Build 87 and 88"
http://pastebin.com/5bKHSPW5

[2015-02-02 08:23] xJon opened #34 "Can't enter a world with the new stable version of Forestry & NER"
It just kicks me out when I try to enter. Forestry version 3.4.0.7: http://jenkins.ic2.player.to/job/Forestry/7/
Log: http://pastebin.com/1nqt8JfE
Thanks.

[2015-02-02 09:02] hilburn commented on #34
Can you make sure you're using the latest NER - as this was an issue in a quite old version.
Jenkins downloads can be found [here](http://jenkins.jakimfett.com/job/NotEnoughResources/)

[2015-02-02 09:53] The-1-7-10-Pack commented on #34
Indeed I used build #55 for this one. I can't launch with build #91 though: http://pastebin.com/LB7CPZMM

[2015-02-02 09:54] xJon commented on #34
Indeed I were using build #55 in this report.
I am not able to launch with the latest build though (#91): http://pastebin.com/LB7CPZMM

[2015-02-02 18:59] #33 closed

[2015-02-02 18:59] #34 closed

[2015-02-04 01:16] devryb opened #35 "Server can't start with Cauldron"
Apologies if this is a duplicate this is with build 86
When using Cauldron the server won't start

http://pastebin.com/Ax7D09TQ

[2015-02-04 01:32] hilburn commented on #35
I will look into this but generally speaking Cauldron is something of a dead project, no longer being developed or particularly compatible with newer versions of Forge and Forge Mods.

Hopefully I'll be able to find a fix, but just to warn you, it might not be possible

[2015-02-04 02:16] devryb commented on #35
Thanks for taking the time to look!

[2015-02-11 15:24] bloodmc commented on #35
@hilburn

https://github.com/hilburn/NotEnoughResources/blob/master/src/main/java/neresources/compatibility/minecraft/MinecraftCompat.java#L106

Why are you passing null world objects when registering entities? that just seems hacky... If you really need to do this, just pass the default world
[code]

[2015-02-11 18:26] hilburn commented on #35
Pretty sure that was returning null objects in that stage of loading anyway when I checked it, but I'll double check

[2015-02-11 18:31] hilburn commented on #35
![](http://puu.sh/fMBZ9/c6547a699c.png)

[2015-02-11 18:59] bloodmc commented on #35
@hilburn Is there an issue with registering during the FMLServerStartingEvent ? This will have the world instance.

[2015-02-11 20:18] hilburn commented on #35
Pretty sure there was, but I can't remember what exactly.. I'll check my notes

[2015-02-11 21:45] hilburn commented on #35
@bloodmc - it appears @way2muchnoise  solved the particular issue that was causing the problem with FMLServer-X-Event accidentally while working on something else. So made those changes

[2015-02-16 21:44] xJon opened #36 "NEM #94 Doesn't work on servers"
#93 works perfectly, with #94 it does seem to load but I can't use it with NEI. Weird, I figured I should report that.

[2015-02-17 09:39] AntonyBearpark opened #37 "Freezes Game Caused by usage of texturepack"
I'm not sure what is causing it to freeze and crash but when I appear on the inventory and choose an item, I click the arrow buttons to see how to create the item, then as soon as I get to the Mob Drops of Dungeon Chests page, the game slows to a halt. I can hover over buttons and the hover states take a few seconds to change, but clicking buttons and shortcut keys does nothing. I have to close an

[2015-02-17 14:49] way2muchnoise commented on #37
@AntonyBearpar Does this happen with only NER and NEI installed? What version are you using? Make sure to get the [latest dev build](http://jenkins.jakimfett.com/job/NotEnoughResources/) first

[2015-02-17 14:53] AntonyBearpark commented on #37
We are using Feed the Beast Infinity 1.7 1.0.0

[2015-02-17 15:12] way2muchnoise commented on #37
@AntonyBearpark Manually update NER to the latest dev build and see if that fixes it

[2015-02-17 15:13] AntonyBearpark commented on #37
Within the server or just myself? How is that done?

[2015-02-17 15:16] way2muchnoise commented on #37
You download the latest version and replace it in the mods folder. If you want to connect to a server you'll have to update it there to

[2015-02-17 15:24] AntonyBearpark commented on #37
Ok will have to check if this works in a few days when I can get the host to update the server

[2015-02-17 15:32] way2muchnoise commented on #37
@AntonyBearpark You can test it in a solo world but I just downloaded FTB Infinity 1.0.1 (which recommended) and I can access both the chest and mob drop screens. What are your system specs and minecraft arguments(java version / ram allocated to mc)?

[2015-02-17 23:22] AntonyBearpark commented on #37
Had a test with a few things, and turned out that it is the Texture Pack I
was using that was crashing it. I was using John Smith Legacy and it showed
a slightly different panel to what I can see now. I'm guessing testing
hasn't been done in any texture packs, though if there is any packs that
have been tested as fine, I'd prefer them to the default to Minecraft?

*Antony Bearpark*
antonybearpark.

[2015-02-18 08:55] way2muchnoise commented on #37
@AntonyBearpark I don't really play with texture pack but I will look into the issue

[2015-02-21 07:44] pizzapants184 opened #38 "NEI Ore Gen Integration freezes computer entirely"
OS: Lubuntu 14.04.01 LTS
Java: Oracle Java 7u71
Crash Report: None (computer completely frozen)
For usually less than a second after pulling up the ore gen recipie, it works, then the entire computer freezes except the mouse, which freezes a few seconds later.
I don't know if this is my OS, the Java version, or the mod, but it definitely only happens when NEI shows the ore gen rates for an ore. Th

[2015-02-28 15:59] rswhisper opened #39 "Can't load world with NER and Forestry"
Report:
[10:59:13] [Server thread/ERROR] [FML]: A fatal exception occurred during the server about to start event
cpw.mods.fml.common.LoaderException: java.lang.NoSuchFieldError: generateBogEarth
	at cpw.mods.fml.common.LoadController.transition(LoadController.java:162) ~[LoadController.class:?]
	at cpw.mods.fml.common.Loader.serverAboutToStart(Loader.java:810) [Loader.class:?]
	at cpw.mods.fml.co

[2015-02-28 16:33] way2muchnoise commented on #39
@rswhisper Use pastebin or alike to post crash logs. Also please post the used versions of both mods

[2015-02-28 16:38] rswhisper commented on #39
My apologies, I will be sure to use pastebin in the future.
Forestry: forestry_1.7.10-3.4.0.7
Not Enough Resources: NotEnoughResources-1.7.10-0.1.0.55.jar

[2015-02-28 17:09] way2muchnoise commented on #39
@rswhisper Before reporting bugs please try the [latest build(http://jenkins.jakimfett.com/job/NotEnoughResources/) first

[2015-03-01 21:14] #32 closed

[2015-03-07 06:55] Sasikaa commented on #38
Oh yes... This is my problem...How CAN fix this??? Java 8 installing?

[2015-03-07 07:03] Sasikaa commented on #38
OMG! This problem is the TEXTURE pack... The JSTR texture pack and this mod is not love each other...

[2015-03-07 08:12] hilburn commented on #38
JSTR? that's really strange and I will look into it

[2015-03-07 12:54] TomeWyrm opened #40 "Add Support for Custom Ore Generation: First Revival"
Pretty much exactly what is says in the title. I figured it should be on the issue tracker as an enhancement so it'll be a bit more obvious if/when it's fixed :-)

[2015-03-07 23:46] pizzapants184 commented on #38
I wasn't using a texturepack, just the vanilla textures. Should I try with a texturepack?

[2015-03-19 08:59] Gotolei opened #41 "Label oregen axis at points other than the very beginning and end"
In its current state it's difficult to tell exactly where the dense part actually begins and ends.
Perhaps start at bestY, then label the endpoints of the line segment it lands on? (or keep it simple and label every 5 or 10)

![2015-03-19_01 52 44](https://cloud.githubusercontent.com/assets/7553595/6727013/f7cb98d8-cdda-11e4-85b2-25319763b596.png)

[2015-03-29 14:03] xJon commented on #36
Build 95 is perfectly fine, closing this.

[2015-03-29 14:03] #36 closed

[2015-04-10 00:21] warezit opened #42 "Must load SSP, *then* SMP for NER to show in NEI"
So, I have added NER into my custom modpack, and the pack loads fine (generates a config for NER), but I have been paging through all the "recipes" and "uses" pages in NEI for all the ores & mob drops, and I don't see any pages with graphs. I have also checked all the keybinds, and I don't see any options there for NER.

Am I missing something? (I feel retarded...) How do I get to see the graphs/u

[2015-04-10 08:25] way2muchnoise commented on #42
@warezit Recipe for ores should give the graphs and does recipes for eg. rotten flesh will give you the mod view

[2015-04-11 21:01] EnigmaRM commented on #42
Having the same problem here.  FTB Infinity pack and I am not seeing any ore gen graphs or mob drops in my client, nor do any of the people playing on my server.  Is there a setting that we need to turn on or some such thing?

[2015-04-11 21:53] EnigmaRM commented on #42
I'm having this same issue when connecting to my server with NER installed.  It works perfectly on the same client when in a SSP world, but when I connect to my server, I get nothing from NER.

[2015-04-12 05:14] warezit commented on #42
@EnigmaRM I appreciate you investigating and sharing your notes...

I have done the same as you, and I can confirm I get the same results.

Diving straight into multiplayer, NER doesn't show up in the Ore Recipe NEI screens.

If I load a Single Player World first, save & quit, THEN goto my Multiplayer Server, NER shows up fine in NEI...

Odd..

[2015-04-12 05:34] warezit commented on #40
I also agree this needs to be a thing... I checked around the interwebs, because I thought I read somewhere that this was implemented already, but I don't believe it is yet. It sounds like hilburn is aware of it, and working towards it... Some links (albeit, every comment I can find about this is from 4+ months ago):

http://www.reddit.com/r/feedthebeast/comments/2mkybg/preview_not_enough_resource

[2015-04-12 05:37] warezit commented on #42
Side note, just for clarity, here are the versions I am using:
NotEnoughResources-1.7.10-0.1.0.96
NotEnoughItems-1.7.10-1.0.4.90-universal
Forge 1.7.10-10.13.2.1291

[2015-04-12 05:43] warezit commented on #40
Edit: CoFH Core Custom Ore Gen is already supported:

https://github.com/hilburn/NotEnoughResources/issues/20#issuecomment-65895591

[2015-04-12 08:16] way2muchnoise commented on #42
Ah the diving straight into MP really helps me out here. I'll see what I can.

[2015-04-12 12:48] #42 closed

[2015-04-12 20:14] cocopuffs99 opened #43 "Compatibility NPE with FML? Not sure"
Hey Guys,

I've been getting this error that sometimes causes the server to stop and if I try to reload into a world from the main menu it just resets the screen back to the main menu and doesn't let me load a world.  Any ideas?  Thanks for taking a look.

Here is the ATLauncher log:  http://paste.atlauncher.com/view/c0074478
The FML log is too large to post here but I can upload it to a link if n

[2015-04-12 20:16] way2muchnoise commented on #43
@cocopuffs99 Please use pastebin or alike to post logs like this don't just dump it in an issue

[2015-04-12 20:18] cocopuffs99 commented on #43
trying to ! sorry. i was trying to use the spoiler markdown but I couldnt get it to work.  I'll edit it out

[2015-04-15 08:16] way2muchnoise commented on #43
@cocopuffs99 What is the version of forge used?

[2015-04-15 18:50] cocopuffs99 commented on #43
forge #1370

[2015-04-15 19:34] way2muchnoise commented on #43
Hmmm guess I'll update the forge version we build against and see

[2015-04-20 19:02] Adaptivity opened #44 "More localization"
1) "Any" in hardcoded in Biomes and in Light level.
2) "Light level" hardcoded itself.
3) *ner.stacks* string should have %s for swapping with number.
4) "Any" displays on NEI item panel -> http://i.imgur.com/cBuZif1.jpg

[2015-04-21 15:08] way2muchnoise commented on #44
@Adaptivity I did things you can go ahead and do some more ru_RU sweetness

[2015-04-21 18:32] Adaptivity commented on #44
Thank you. ru_RU.lang is done, just need todo some testing. Also, you fixed issue number 4?

[2015-04-21 18:47] way2muchnoise commented on #44
Yes I did in 2c7ebe9c21733a0fc911b2d393013036fa228759

[2015-04-22 08:38] #44 closed

[2015-04-29 15:11] cocopuffs99 commented on #43
New crash again in a different modpack- thought maybe it was compatibility with ProjectE but they said to let neresources know:  https://github.com/sinkillerj/ProjectE/issues/680#issuecomment-97313282

NPE causing fatal server shutdown, full log: http://paste.atlauncher.com/view/043b337c

[2015-04-29 15:17] way2muchnoise commented on #43
@cocopuffs99 The log you posted seems to be a version issue with mobproperties will look into it

[2015-04-29 15:21] way2muchnoise commented on #43
@cocopuffs99 Updating mobproperties to 0.3.5 should fix it since that is what we build against.

[2015-04-29 19:02] cocopuffs99 commented on #43
@way2muchnoise Thanks! I had no idea they had a specific fix for comp with neresources api from 0.3.4 to 0.3.5 and that my version was outdated.  *diamond*  ;)

[2015-04-29 19:04] cocopuffs99 commented on #43
@way2muchnoise do you think this is the same error as the first post I made for this issue (with the other modpack aka RR3)?  should I close it/mark as fixed?

thanks

[2015-04-29 19:30] way2muchnoise commented on #43
@cocopuffs99 I have no idea what the first one is about it crashes during a call to some reflection stuff and basically gives no indication of what it is. So I say open a new on if it happens again and I'll close this issue

[2015-04-29 19:30] #43 closed

[2015-05-02 06:54] Sasikaa opened #46 "Forestry and BluePower support"
Any way to make compatible with Forestry and BluePower mod ore support?

[2015-05-18 19:05] #22 closed

[2015-05-18 19:11] iarspider opened #47 "Can't log into SP after playing in MP"
Just as the title says: if I log on to server after starting MC, I can no longer login into any SP world (the game will kick me back to the main menu). The relevant piece of client log:
[code]

This *could* be related to Sanguimancy crashing
[code]

NER version: 0.1.0.95

[2015-05-27 05:15] Drakray commented on #47
I got the same issue, without Sanguimancy
I got that after quitting a singleplayer game and trying to go back in

[2015-05-27 05:54] hilburn commented on #47
fixed

[2015-05-27 11:32] Kosti1 opened #48 "Crash 1.8 manually built"
// Ooh. Shiny.

Time: 27.5.2015 14:26
Description: There was a severe problem during mod loading that has caused the game to fail

net.minecraftforge.fml.common.LoaderException: java.lang.NoSuchMethodError: net.minecraft.util.StatCollector.translateToLocal(Ljava/lang/String;)Ljava/lang/String;
	at net.minecraftforge.fml.common.LoadController.transition(LoadController.java:163)
	at net.minecraftfor

[2015-05-27 12:39] hilburn commented on #48
You know what? I am in no way surprised that this does not work for 1.8.
Because minecraft versions are not compatible with each other.
If you want to modify it to work for 1.8 you are very welcome to do so - but this is not an issue I have any desire or need to fix

[2015-05-27 17:00] Tombenpotter commented on #47
Next time I'd appreciate if you reported that to my github instead @iarspider :p

[2015-05-27 20:57] iarspider commented on #47
@Tombenpotter sure :+1:

[2015-06-17 22:33] shadoxxhd opened #49 "NEI enchantment view ('I') drops my fps to around 0.1 (yes, 1 frame per 10 seconds!!!)"
happens only with this mod installed. infinity 1.5.1. v0.1.0.95. removing it causes mod rejection (playing on standard infinity 1.5.1 server). tried it without this mod in SP, framerate is fine (60fps vsync). with this mod SP, fps killed. solution?

[2015-07-11 21:38] #41 closed

[2015-07-17 09:29] Speiger opened #54 "IC2 Type Support"
I've got an issue for IC2 Classic that your mod throws a exception with classic.
https://github.com/TinyModularThings/IC2Classic/issues/83#issuecomment-122224933
Problem is that you are searching for IC2 Exp classes that do not exist in classic.
I could make a fake config that provides most information to your mod but that could cause some serious trouble with your mod. Thats why i am asking for s

[2015-07-17 09:34] way2muchnoise commented on #54
My guess would be you have the same modID which you shouldn't. The IC2 compat gets triggered by the ID ```IC2```
https://github.com/hilburn/NotEnoughResources/blob/master/src/main/java/neresources/utils/ModList.java#L91

[2015-07-17 09:56] Speiger commented on #54
Yeah i have to do that else addons of IC2 would not get loaded. And Classic joins with Exp Addon support.^^" That is the reason why i do it.

[2015-07-17 10:04] Speiger commented on #54
Anyway you can detect the differend types with this class at the moment. If you detect the api it might be possible that the Classic version is loaded. And then you still can check that.^^
https://github.com/TinyModularThings/IC2Classic/blob/master/ic2/api/info/IC2Classic.java#L32

[2015-07-19 00:21] Speiger commented on #54
@way2muchnoise sadly i am forced to use the IC2 Modid because IC2 Classic is IC2 and should also load the IC2 Plugins. Anyways since you are requesting Core Classes from Exp which classic does not have you should then make a filter/checking system that checks which IC2 is loaded because avoding the Crash will be some kind hard without a so dirty fix that it is not worth making it...

So please mak

[2015-07-19 09:16] hilburn commented on #54
It is fixed - NER compat is disabled if the IC2 version is non-exp, if you want to re-enabled it, we have a very extensive message system to allow you to register whatever the hell you like

[2015-07-19 09:16] #54 closed

[2015-07-19 11:41] Speiger commented on #54
Thanks^^" is there any way to register nessesary information?
Because support for it should stay at least^^"

[2015-07-19 11:45] hilburn commented on #54
https://github.com/hilburn/NotEnoughResources/blob/master/src/main/java/neresources/api/messages/RegisterOreMessage.java

[2015-07-19 11:49] Speiger commented on #54
Ok. Thanks i will write an Plugin for that so that everything nessesary gets loaded for your mod if it is there^^"

[2015-07-26 15:05] MrBretze opened #55 "DistributionHelpers crash"
Iog: http://pastebin.com/aXApd7B9

[2015-07-26 15:09] way2muchnoise commented on #55
When did this crash happen? Can you reproduce it?

[2015-07-26 15:36] MrBretze commented on #55
When I load a world / creates a world, her unable to move or

[2015-07-27 06:39] hilburn commented on #55
Ok, I think I've fixed this - will push it in a little bit

[2015-07-27 10:13] #55 closed

[2015-07-27 10:13] #47 closed

[2015-07-27 10:15] hilburn commented on #49
Should be fixed in latest versions, but please reopen if 0.1.0.106+ cause issues

[2015-07-27 10:15] #49 closed

[2015-08-02 14:06] Speiger opened #56 "API is not a api"
Just got started on the NER support for IC2 classic loading all API files in then...
What happens... Right the API requires ModClasses. Even really Deep core classes...
That you should fix...

[2015-08-02 14:15] way2muchnoise commented on #56
What? Could you point out where it requires ModClasses?

[2015-08-02 14:25] Speiger commented on #56
https://github.com/hilburn/NotEnoughResources/blob/master/src/main/java/neresources/api/messages/SendMessage.java#L7
And line 6

so it requires the Message registry and the config class which requires the settings class which requires a lot more other classes which mean you require the whole mod... and a couple submods

[2015-08-02 14:37] way2muchnoise commented on #56
ah those shouldn't be in the API my bad, that is/was some WIP stuff

[2015-08-02 14:41] Speiger commented on #56
Simply the API should be build and stored in his own seperate area. And the Mod is reading out of it. Else it would not work. (Talking from experience)

[2015-08-02 14:49] #56 closed

[2015-08-02 14:50] way2muchnoise commented on #56
I know what an API is and how it is supposed to work. I was working on things and never continued with it so it was some WIP stuff that wasn't cleaned properly

[2015-08-02 14:51] Speiger commented on #56
I do not blame you or something just wanted to help^^ Anyway thanks for fixing.

[2015-08-17 23:11] Pyeroh opened #57 "World unable to load with NER"
When I have NER enabled, I can't load any world. The game is not crashing, it's just unable to load any world.
Here's the "crashlog" (even if it doesn't really crash) : http://pastebin.com/MMBGasPs
For information, here's the MobProperties that may cause the crash : http://pastebin.com/DLFiBckz

It's in french (so am I), so a bit of explanation : this script is meant to make the Enderdragon respaw

[2015-08-18 05:42] hilburn commented on #57
I'll change it to support both when I get a chance - the string support is new since I wrote that compatibility. Until then, the int format should work for now.

[2015-08-18 09:34] Pyeroh commented on #57
Indeed, the int format works. I changed my script to use the int ID (122) instead of "dragon_egg", and it works.
Let this issue be a simple reminder of a "todo", as it's not blocking =)

[2015-08-18 16:39] #57 closed

[2015-09-14 23:55] topher2010 opened #58 "Not working correctly with ATG"
When using NotEnoughResources with ATG latest version, it isn't showing the correct y-levels for ores.  Is this an issue with mod interactions?  If so, I can provide my mod list if it would help.

[2015-09-15 06:59] hilburn commented on #58
Does ATG fuck with ore levels? If you create a new world without the ATG world type does it then work

[2015-09-17 03:36] topher2010 commented on #58
My apologies for taking so long to get back to you.  Work has been hectic.  I'm testing this now and will update once i test without ATG.

[2015-10-02 21:32] BBoldt opened #59 "[Request] Reliquary mob drop support"
Like 90% of the stuff in Xeno's Reliquary requires items which drop from mobs, I feel like a lot of people get turned off from the mod because they don't know what mob drops what item.

http://minecraft.curseforge.com/projects/reliquary

[2015-10-07 13:30] hilburn commented on #59
I'll look into it when I get a chance

[2015-10-07 13:50] hilburn commented on #59
Probably be this weekend at the earliest

[2015-10-08 15:38] FantasyTeddy commented on #59
Sorry @hilburn, I began working on this before you replied... I hope you don't mind that I took a shot at it.

[2015-10-08 16:00] way2muchnoise commented on #59
@FantasyTeddy I'll give it try

[2015-10-08 16:46] way2muchnoise commented on #59
@FantasyTeddy I cleaned up some things so you have we have no try catch. Would have loved to use the versioning but for some reason they don't have a good one.

[2015-10-09 06:40] FantasyTeddy commented on #59
@way2muchnoise Great, thanks for the merge!

[2015-10-29 17:29] fishmealx opened #62 "Not showing any modded mobs"
NEI 1.0.5.111. Modded ores are showing up, almost no modded mobs.

I have many mods, but the only one whose drops I can find is Thaumcraft.

Mods:
ID,Name,Version,Custom Container,Disableable,Dependencies
mcp,Minecraft Coder Pack,9.05,true,YES,[]
FML,Forge Mod Loader,7.10.99.99,true,NEVER,[]
Forge,Minecraft Forge,10.13.4.1448,true,NEVER,[]
appliedenergistics2-core,AppliedEnergistics2 Core,rv2-stab

[2015-10-29 17:43] way2muchnoise commented on #62
@fishmealx pls use pastebin or alike to post mod lists or logs.

[2015-10-29 18:14] #62 closed

[2015-11-13 14:16] Speiger commented on #54
@hilburn still not fixed. NER still crashes with IC2 Classic. Reason beeing that you use the IC2ID to remove the Exp code. Since Exp has not a second modID that is not shared with classic you need to find another way. (Did ask a exp dev to implement a second modID)

[2015-11-21 13:04] Xen1290 opened #63 "Crash with forestry 4.2.x"
https://gist.github.com/Xen1290/c9d520feb9d60dd88e8c
@hilburn @way2muchnoise

[2015-12-04 02:20] border999 commented on #63
it would be a very good idea to fix this

[2015-12-05 17:41] #63 closed

[2015-12-05 18:00] way2muchnoise commented on #63
@Xen1290 @border999 A build with the fix has been send to Curse Forge once it gets accepted (give or take 10 mins from writing this) then you'll be able to download it.

[2015-12-05 18:44] Xen1290 commented on #63
Thanks!

[2015-12-05 19:23] BlazingGamer opened #64 "Not works with KCauldron without Forestry"
When I try to launch KCauldron (forge 1448) with NEResources (0.1.0.120) and bunch of mods (no forestry) i get following error:

[latest.log.txt](https://github.com/hilburn/NotEnoughResources/files/52936/latest.log.txt)

When I looked that log I saw NEResources is using Forestry Classes but they aren't included in! Please fix!

[2015-12-05 19:27] BlazingGamer commented on #64
Just copy of log:
[22:17:16] [Server thread/ERROR]: Encountered an unexpected exception
java.lang.NoClassDefFoundError: forestry/core/blocks/BlockResourceOre
	at neresources.utils.ModList.<clinit>(ModList.java:32) ~[ModList.class:?]
	at neresources.utils.WorldEventHelper.onWorldLoad(WorldEventHelper.java:16) ~[WorldEventHelper.class:?]
	at cpw.mods.fml.common.eventhandler.ASMEventHandler_121_World

[2015-12-05 19:29] BlazingGamer commented on #64
Just copy of log:
[22:17:16] [Server thread/ERROR]: Encountered an unexpected exception
java.lang.NoClassDefFoundError: forestry/core/blocks/BlockResourceOre
	at neresources.utils.ModList.<clinit>(ModList.java:32) ~[ModList.class:?]
	at neresources.utils.WorldEventHelper.onWorldLoad(WorldEventHelper.java:16) ~[WorldEventHelper.class:?]
	at cpw.mods.fml.common.eventhandler.ASMEventHandler_121_World

[2015-12-05 19:29] way2muchnoise commented on #64
Post log s using paste bin or alike don't just paste them here.
Well the forestry support should never be loaded when you don't have forestry. So either you have something stealing its modID or KCauldron is messing up.

[2015-12-05 19:31] way2muchnoise commented on #64
@BlazingGamer I can launch fine without forestry installed on a pure forge environment.
So I'm going to have to call it a KCauldron problem which this project never supported.
Unless you can come up with something your self or let the KCauldron devs know there isn't much I can do

[2015-12-05 19:33] way2muchnoise commented on #64
@BlazingGamer Cancel the last update, I found some issues on my end.

[2015-12-05 19:43] BlazingGamer commented on #64
So, I looked at Jenkins and saw that last 9 builds were unsuccessful. Seems thats right :) Thanks for your advices!

[2015-12-05 19:46] BlazingGamer commented on #64
Works well with Build 111)

[2015-12-05 19:46] #64 closed

[2015-12-05 19:52] way2muchnoise commented on #64
There is an issue with the build server and the amount of backwards compat we have (tons of duplicate libs). The issue was with the classes loading in 9ebb9649abfd0455f8eff5747ef609c3aefac444 I moved some init to be reflective and that fixes the issues.

[2015-12-05 19:55] way2muchnoise commented on #64
I would appreciated if you tried the new build once curse accepts it (http://minecraft.curseforge.com/projects/notenoughresources/files/2269453)

[2015-12-06 10:47] Speiger opened #65 "Crash with IC2 Classic"
It is cool that you made a @Mod thingy for your function that loads the IC2 Oregen stuff but you forgot one thing. Ic2 Classic uses also IC2 as modID so your stuff will be not deleted... So he still tries to import exp classes when classic is loaded...
Sadly Player sees no reason to implement a second modID like Classic to solve these kind of problems... And also you can not make a inverted reques

[2015-12-06 11:25] way2muchnoise commented on #65
If only you could phrase that so it doesn't sound like a command. Then I might consider it.

[2015-12-06 14:07] Speiger commented on #65
I know that i type sometimes that hard... sry for that...

[2015-12-06 22:34] bookerthegeek commented on #65
Please great and wonderful mod author, if it would not be to difficult, would you be able to find a way to fulfill the request from the asshat who commanded you to do this thing?

[2015-12-06 22:35] bookerthegeek commented on #65
No hate @Speiger, you know we all love you. :)

[2015-12-07 05:19] Speiger commented on #65
Note: I am not trying to excuse.

For me it is hard to write any form of text. But i still try my best to do that...
But when i writed this thing here i simply got a trigger active which got activated by this thing here:
"- Fixes incompatibility with "IC2 Classic" which registers itself as mod-id ic2 for some sadistic reason"
where i just jump into i do not care about "You" mode and just told the

[2015-12-18 17:47] Xiaminou opened #66 "[1.0.121] Server crash on startup (compability with Forestry)"
Server crashes on startup and does not generate a crash report.
Here is the full log, the "crash report" is at the end and seems to indicate a problem between NER and Forestry, is it compatible with forestry 3.6?
Full Log: https://drive.google.com/file/d/0B090g8mHJkCWVTFKMS0ySGlZb28/view?usp=sharing

[2015-12-18 18:00] way2muchnoise commented on #66
it should be compatible

[2015-12-26 22:11] #48 closed

[2015-12-26 22:11] #59 closed

[2015-12-26 22:12] #66 closed

[2015-12-26 22:13] way2muchnoise opened #67 "Move fetching of modded items to GameRegistry methods"
Use  ``GameRegistry.getBlock`` or something like that (or the API) instead of getting things directly from inner classs

[2015-12-27 05:10] karmarcharger opened #68 "DIY Resources?"
Hi, is it possible to add JSON/config support for  NEI resources? so that we can add/edit mob drops shown in the NEI, because of custom drops, and perhaps config to allow us to add modded mobs by ourselves?

[2015-12-27 15:54] #39 closed

[2015-12-27 15:55] #38 closed

[2015-12-27 15:55] #37 closed

[2015-12-27 15:56] #46 closed

[2015-12-27 15:56] #35 closed

[2015-12-27 15:57] #58 closed

[2015-12-27 16:31] way2muchnoise commented on #65
Could you provide a log of the crash?

[2015-12-27 19:28] Speiger commented on #65
@way2muchnoise simply as soon your IC2 Plugin gets loaded it crashes... Simply because the @Optional thing does not work.. .(Can not find class crash) (because ic2classic does not have the MainConfig class)

[2015-12-27 19:51] Xiaminou commented on #66
Did you fix it or did you just close?

[2015-12-27 21:45] way2muchnoise commented on #66
It should be fixed try either the latest alpha or beta on CurseForge

[2015-12-27 21:50] way2muchnoise commented on #65
Not really a crash log tho. Would still like to see one. Also got any contribution as to what you want to do to see it fixed. As you can't change your ModId, what can you do? Should I provide a hook? Do you have a compat class ready?

[2015-12-27 22:14] Speiger commented on #65
Well since ic2 Exp has not his own modID it will be hard to fix it with @Optional... Only thing is you make a reflection based loading system that checks if IC2 Classic is not loaded which should be way easier since IC2 Classic has his own modID...
And if you want a crashlog then just make a little modpack with IC2 Classic NEI and NER... Then you have it...

[2015-12-27 22:17] Xiaminou commented on #66
cool

[2016-01-09 08:59] Zaflis commented on #20
Please add DraconicEvolution:draconiumOre .

[2016-02-17 10:20] olekopyto opened #69 "Crash after loading the game"
Hi!
I installed your mod but when game finishes loading it crashes.
It doesn't crash w/o your mod and i tried last 4 versions of your mod.
I include the crash reports.
[crash-2016-02-17_11.07.16-client.txt](https://github.com/hilburn/NotEnoughResources/files/134033/crash-2016-02-17_11.07.16-client.txt)
[crash-2016-02-17_11.03.59-client.txt](https://github.com/hilburn/NotEnoughResources/files/13403

[2016-03-09 22:13] DerpyShadowz opened #70 "Server Keeps Shutting Down?"
This could be a Forestry issue or a NotEnoughResources issue, I'm not sure.
But it looks like either of them, because this piece of code keeps popping up each time the server shuts down.

[EDITED] Don't post logs in issues, provide a link to a pastebin, gist or alike

[2016-03-09 22:20] way2muchnoise commented on #70
What version of NER are you using? Also could you remove the log from the issue and make a link to pastebin or alike

[2016-03-09 22:28] DerpyShadowz commented on #70
@way2muchnoise
Version 0.1.0-121, the most recent one I could find on Curse

[2016-03-09 22:31] way2muchnoise commented on #70
Try 0.1.0-122 http://minecraft.curseforge.com/projects/notenoughresources/files/2272500

[2016-03-09 22:32] DerpyShadowz commented on #70
@way2muchnoise
Alright, will try that. Thanks for now.

[2016-03-09 22:47] DerpyShadowz commented on #70
@way2muchnoise
It seems to work, so thanks for that.

[2016-03-09 22:47] #70 closed

[2016-03-13 23:49] SugarDaddii opened #71 "[Crash] After joining Multiplayer Server"
Hey here my crashlog!
BTW: After i joined SSP server i can join multiplayer server!Whats wrong?!

http://paste.ee/p/wIzVM

graz

[2016-05-16 12:41] Deathlymad commented on #71
same here. Accidentally reported to TT:
https://github.com/Thaumic-Tinkerer/ThaumicTinkerer/issues/853

[2016-05-18 00:38] misterfixit commented on #71
I'm not sure on what end this would need to be fixed on but reliquary isn't being updated for 1.7.10 anymore as a heads up.

[2016-06-21 01:27] Luckyday84 opened #72 "Client crash when joining server"
The only way I can join my server is by starting a single player world first, that allows me to join my server.
I'm on forge 10.13.4.1614  Mod version is 0.1.0-122

http://pastebin.com/mQ3vyjud

There is another thread I've found with the same issue but they haven't found any resolution other than removing Not Enough Items   http://www.minecraftforum.net/forums/support/modded-client-support/268134

[2017-03-09 02:30] Dwarfy-Dwarftins opened #74 "Ner Not compat with Thaumic horizon?"
Im having trouble downloading thaumic horizon with anything up to a certain update in 1.7.10 and i was told it was this mod but i tried to see and still doesnt work they said i should try asking someone here they might be able to tell me more. I understand if you cant help me. ive been trying to get this  mod to work for about a week now but no luck. i get an infinite loading world then crash afte

[2017-08-10 22:14] Xaikii opened #75 "Incompatible with Mob Drops Changes"
Hey,

when I add NotEnoughResources into my Modpack, it goes into a frozen state.
https://pastebin.com/vsRkpSJg That's the Log Output. I won't be able to create a world or else.
I know that these changes are related to MobProperties, or better said Mob Drop Changes at all.
It occured when I changed the Drops of a Zombie and it worked again when I removed the Drop Changes.
Since I need MobPropertie

[2018-01-19 06:44] undeadbanana opened #76 "Around 10k chunks "All" profile scan will not write a new file"
I know, excessive maybe, but it did complete the scan (Allowed me to perform a new scan) but after completing scans around that number and up will not write a new file.

[2018-01-19 07:52] way2muchnoise commented on #76
Pretty sure this is a report for [way2muchnoise/JustEnoughResources](https://github.com/way2muchnoise/JustEnoughResources) as NER doesn't have profiling iirc

[2018-01-30 18:36] undeadbanana commented on #76
Yeah, my bad. Lol. I was looking at JER's git and was like wtf, where'd my report go. I guess I clicked his link to NEI instead of going to his Github.

[2018-01-30 18:36] #76 closed, assigned to nobody

[2018-02-21 12:30] DerMilchkarton opened #77 "Restrictions for Hell and End don't work"
If you try to register an ore for hell, end and overworld it only gets registered for overworld:

Restriction res = new Restriction(new DimensionRestriction(-1, 1));
OreRegistry.registerOre(new RegisterOreMessage(new ItemStack(Blocks.bedrock), new DistributionTriangular(50, 50, 0.1F), res, new ItemStack[0]));
(bedrock for testing)
executing that piece of code results in the tooltip: valid dimensio

[2018-03-22 23:40] #75 closed, assigned to nobody

[2018-05-27 11:48] #74 closed, assigned to nobody

[2018-07-26 23:15] #72 closed